.hero-bg {
    background-image: url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 1.5rem;
    height: 90%;
    overflow: hidden;
  }

.stats-container {
    margin-bottom: -58rem;
    position: absolute;
    z-index: 10;
}
